services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  backend:
    build: ./backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/truthseeker
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    volumes:
      - ./backend/uploads:/app/uploads
volumes:
  mongo-data:
